.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: rgb(0, 32, 49);
}

.con{
  height: 100%;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.p{
  color: rgb(213, 213, 213);
  font-size: 170%;
  font-weight: 600;
  padding: 20px 82px;
  background: teal;
}

.t{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
 
  margin-top: 20px;
}

.tt{
  font-size: 150%;
  width: 100%;
  text-align: center;
  /* background: grey; */
  padding: 20px 4px;
  font-weight: 600;
}

.btn{
  background: purple;
  border: none;
  padding: 15px 25px;
  font-weight: 600;
  color: white;
  font-size: 130%;
  margin: 14px;
  cursor: pointer;
}


.of{
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.l{
  background-color: red;
  border-radius: 10px;
  align-self: left;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

video{
  width: 100px;
}

@media screen and (max-width:400px) {
.btn{
  font-size: 80%;
  padding: 12px 20px;
  margin: 7px;
}

.p{
  font-size: 100%;
}
  
}